body {
    background-color: #e6d9c1;
    color: #40382a;
    /* font-family: 'Alegreya', serif; */
}
.App {
    text-align: center;
    font-family: 'Alegreya', serif;
}

.images {
    width: 250px;
}
#song {
    background-color:transparent;
    color: #40382a;
    font-family: 'Alegreya', serif;
}
#artist {
    background-color:transparent;
    color: #40382a;
    font-family: 'Alegreya', serif;
}
#length {
    background-color:transparent;
    color: #40382a;
    font-family: 'Alegreya', serif;
}
#image {
    background-color:transparent;
    color: #40382a;
}
#link {
    background-color:transparent;
    color: #40382a;
    font-family: 'Alegreya', serif;
}
#year {
    background-color:transparent;
    color: #40382a;
    font-family: 'Alegreya', serif;
}
#add {
    font-family: 'Alegreya', serif;
    background-color:#40382a;
    color:#e6d9c1;
    border-radius: 4px;
    transition-duration: 0.4s;
}
#add:hover {
    background-color: #e6d9c1;
    color: #40382a;
;
}